<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>View Device</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>View Device</h1>
        <a th:href="@{/devices}">Back to Device List</a>
        <br/><br/>
        <div th:if="${device}">
            <table border="0">
                <tr>
                    <td>ID</td>
                    <td>:</td>
                    <td th:utext="${device.id}">...</td>          
                </tr>
                <tr>
                    <td>Typ</td>
                    <td>:</td>
                    <td th:utext="${device.typ}">...</td>             
                </tr>
                <tr>
                    <td>Location</td>
                    <td>:</td>
                    <td th:utext="${device.location}">...</td>              
                </tr>
            </table>
            <br/><br/>
            <div th:if="not ${allowDelete}">
                <a th:href="@{/devices/{deviceId}/edit(deviceId=${device.id})}">Edit</a> |
                <a th:href="@{/devices/{deviceId}/delete(deviceId=${device.id})}">Delete</a>
            </div>
            <form th:if="${allowDelete}" th:action="@{/devices/{deviceId}/delete(deviceId=${device.id})}" method="POST">
                Delete this contact? <input type="submit" th:value="Yes" />
            </form>
        </div>
        <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />        
    </body>
</html>